<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :evaluated %><br />
    <%= f.date_select :evaluated %>
  </div>
  <div class="field">
    <%= f.label :mentor %><br />
    <%= f.text_field :mentor %>
  </div>
  <div class="field">
    <%= f.label :evaluation %><br />
    <%= f.number_field :evaluation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
