<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">
          <h2 class="title"><a href="#">Gallery</a></h2>
          <%=image_tag "figuras/people/p_132.jpg"%>
          <%=image_tag "figuras/people/p_128.jpg"%>
          <%=image_tag "figuras/people/p_140.jpg"%>
          <%=image_tag "figuras/people/groups/gro_12.jpg"%>
          <%=image_tag "figuras/people/groups/gro_13.gif"%>
          <%=image_tag "figuras/people/groups/gro_14.gif"%>
          <%=image_tag "figuras/people/groups/gro_15.gif"%>
          <%=image_tag "figuras/people/groups/gro_16.jpg"%>
          <%=image_tag "figuras/people/groups/gro_06.jpg"%>
       </div>
      <div class="post"></div>
    </div>
  </div>

