<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">
      <% if @student_user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@student_user.errors.count, "error") %> have occurred. Please verify:</h2>

            <ul>
              <% @student_user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <% provide(:title, 'Sign up') %>
      <h1>Sign up</h1>

      <div class="row">
        <div class="span6 offset3">
          <%= form_for(@student_user) do |f| %>

              <div class="field">
                <%= f.label :firstname %><br />
                <%= f.text_field :firstname %>
              </div>
              <div class="field">
                <%= f.label :lastname %><br />
                <%= f.text_field :lastname %>
              </div>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.text_field :email %>
              </div>
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password %>
              </div>
              <div class="field">
                <%= f.label :studies_level %><br />
                <%= f.select :studies_level, options_for_select(["High School", "Undergraduate", "Masters", "PhD", "Other"],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
              </div>
              <div class="field">
                <%= f.label :field %><br />
                <%= f.select :field, options_for_select(["Computer Science", "Software Management", "Telecommunications", "Software Development", "Electrical Engineering"],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
              </div>
              <div class="field">
                <%= f.label :interests %><br />
                <%= f.text_field :interests %>
              </div>
         <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
          <% end %>
        </div>
      </div>

    </div>
    </div>
</div>
